<%= form_with(model: article_comment, local: true) do |form| %>
  <% if article_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_comment.errors.count, "error") %> prohibited this article_comment from being saved:</h2>

      <ul>
      <% article_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
