<p id="notice"><%= notice %></p>

<h1>Article Comments</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_comments.each do |article_comment| %>
      <tr>
        <td><%= article_comment.content %></td>
        <td><%= link_to 'Show', article_comment %></td>
        <td><%= link_to 'Edit', edit_article_comment_path(article_comment) %></td>
        <td><%= link_to 'Destroy', article_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Comment', new_article_comment_path %>
