<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @article_comment.content %>
</p>

<%= link_to 'Edit', edit_article_comment_path(@article_comment) %> |
<%= link_to 'Back', article_comments_path %>
