<%= form_for @api, url: api_registration_path, html: {} do |form| %>
  <% if @api.errors.any? %>
    <% @api.errors.full_messages.each do |message| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= message %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :app_name, "Your app name" %>
    <%= form.text_field :app_name, class: (@api.errors[:app_name].any? ? "form-control is-invalid" : "form-control"), placeholder: 'App name', required: '' %>
  </div>

  <div class="form-group">
    <%= form.label :app_description, "Your app description" %>
    <%= form.text_area :app_description, class: (@api.errors[:app_description].any? ? "form-control is-invalid" : "form-control"), placeholder: 'App description', required: '', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: (@api.errors[:full_name].any? ? "form-control is-invalid" : "form-control"), placeholder: 'Full name', required: '' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: (@api.errors[:email].any? ? "form-control is-invalid" : "form-control"), placeholder: 'Email', required: '' %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: (@api.errors[:password].any? ? "form-control is-invalid" : "form-control"), placeholder: 'Password', required: '' %>
  </div>

  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: (@api.errors[:password_confirmation].any? ? "form-control is-invalid" : "form-control"), placeholder: 'Password confirmation', required: '' %>
  </div>

  <button type="submit" class="btn btn-secondary">Submit</button>
<% end %>
