<% content_for :title do %>
  App dashboard
<% end %>

<div class="container">
  <br>
  <br>
  <br>

  <h2 class="text-center">👋 Welcome <%= @api.full_name %> to
    <strong><a href="<%= root_path %>">Dummy Api</a></strong>.</h2>
  <h4 class="text-center">Check bellow you app information.</h4>
  <h6 class="text-center">Check also <strong><a href="<%= root_path %>">Dummy Api</a></strong>
    <a href="<%= api_documentation_path %>">documentation</a>.</h6>
  <hr class="my-4">

  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-6">
      <h3 class="text-center">Your app information</h3>
      <label>App name:</label>
      <p><strong><%= @api.app_name %></strong></p>

      <br>

      <label>App description:</label>
      <p><strong><%= @api.app_description %></strong></p>

      <br>

      <label>App token:</label>
      <p id="app-token"><strong><%= @api.app_token %></strong></p>
    </div>
  </div>

  <hr class="my-4">
  <br>

  <h3 class="text-center">Your app statistics</h3>
  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <h1 class="card-text"><%= @api.users_count %></h1>
          <p class="card-text">
            <% unless @api_last_user.nil? %>
              <small class="text-muted">Last user
                register <%= distance_of_time_in_words_to_now @api_last_user.created_at %> ago
              </small>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Articles</h5>
          <h1 class="card-text"><%= @api.articles_count %></h1>
          <p class="card-text">
            <% unless @api_last_article.nil? %>
              <small class="text-muted">Last article
                created <%= distance_of_time_in_words_to_now @api_last_article.created_at %> ago
              </small>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Comments</h5>
          <h1 class="card-text"><%= @api.articles_comments_count %></h1>
          <p class="card-text">
            <% unless @api_last_article_comment.nil? %>
              <small class="text-muted">Last comment
                created <%= distance_of_time_in_words_to_now @api_last_article_comment.created_at %> ago
              </small>
            <% end %>

          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="margin-top: 20px">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Bookmarks</h5>
          <h1 class="card-text"><%= @api.users_bookmarks_count %></h1>
          <p class="card-text">
            <% unless @api_last_user_bookmark.nil? %>
              <small class="text-muted">Last bookmark
                created <%= distance_of_time_in_words_to_now @api_last_user_bookmark.created_at %> ago
              </small>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4" style="margin-top: 20px">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Likes</h5>
          <h1 class="card-text"><%= @api.articles_likes_count %></h1>
          <p class="card-text">
            <% unless @api_last_article_like.nil? %>
              <small class="text-muted">Last like
                created <%= distance_of_time_in_words_to_now @api_last_article_like.created_at %> ago
              </small>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  </div>

  <%= render 'home/footer' %>
</div>

<% content_for :stylesheet do %>
  <script type="text/javascript" charset="utf-8">

      function onClick() {
          // document.querySelector('#app-token').style.color = '#e83e8c'
      }
  </script>
<% end %>