<% content_for :title do %>
  Api documentation
<% end %>

<div class="container">
  <br>
  <br>
  <br>

  <h2 class="text-center">👋 Here is technical documentation of
    <strong><a href="<%= root_path %>">Dummy Api</a></strong>.</h2>
  <h4 class="text-center">Please read carefully the documentation and enjoy it.</h4>
  <h6 class="text-center">I don't have an <a href="<%= api_registration_path %>">access token</a>.</h6>
  <hr class="my-4">

  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div>
        <h2 id="content">Content</h2>
        <ul>
          <li><a href="#global">Global</a>
            <ul>
              <li><a href="#global-request">#Request</a></li>
              <li><a href="#global-response">#Response</a></li>
            </ul>
          </li>
          <li><a href="#user">User authentication api</a>
            <ul>
              <li><a href="#user-identification">#Identification</a></li>
              <li><a href="#user-registration">#Registration</a></li>
              <li><a href="#user-login">#Login</a></li>
            </ul>
          </li>
          <li><a href="#article">Articles api</a>
            <ul>
              <li><a href="#article-articles">#Paginate articles</a></li>
              <li><a href="#article-comments">#Paginate an article comments</a></li>
              <li><a href="#article-submit">#Create an article</a></li>
              <li><a href="#article-comment-submit">#Comment an article</a></li>
              <li><a href="#article-bookmark">#Bookmark and un bookmark an article</a></li>
              <li><a href="#article-like">#Like and dislike an article</a></li>
              <li><a href="#article-users-bookmark">#User bookmarks</a></li>
            </ul>
          </li>
          <li>
            <a href="#errors">Errors</a>
          </li>
        </ul>
      </div>

      <% content = "Content 👆" %>
      <hr class="my-4">

      <div>
        <h2 id="global">Global</h2>
        <p class="text-justify">
          <a href="<%= root_path %>"><strong>Dummy Api</strong></a> provide api that is protected by an access token.
          After you
          <a href="<%= api_registration_path %>">register</a> your app and get your access token you must include it in
          every
          request headers as value
          of <strong>Authorization</strong>. <br>
          Include it like this <strong>Authorisation: Beare $access_token</strong> where <strong>$access_token</strong>
          is
          your app access token. Check example bellow.
        </p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px; padding: 10px;">
          <strong style="text-align: center">Authorisation: Beare 638987b0-4488-4afe-a517-2b3a76c07bcd</strong>
        </div>
        <h4 id="global-request">#Request</h4>
        <p>All request body parameter must be a valid <a href="https://www.json.org/" target="_blank">JSON</a>. Bellow
          is
          some often
          parameters required.</p>
        <ul>
          <li><strong>phone_number</strong> <br>
            This parameter is a string that represent the user phone number and must be a valid phone number with
            country
            code like:
            +22891071570.
          </li>
          <li><strong>encrypted_password</strong> <br>
            This parameter is a string that represent the encrypted user password it is provided after user
            authentication.
          </li>
          <li>
            <strong>password</strong> <br>
            This parameter is a string that represent the user password at registration step.
          </li>
          <li>
            <strong>password_confirmation</strong> <br>
            This parameter is a string that represent user password confirmation at registration step and must be the
            same as password
            parameter.
          </li>
        </ul>

        <br>
        <h4 id="global-response">#Response</h4>
        <p>In response to all request api return a valid <a href="https://www.json.org/" target="_blank">JSON</a>.
          Bellow
          is some often
          response body parameter you can take advantage of.</p>
        <ul>
          <li><strong>response_status</strong><br>
            This response parameter represent the actual response status it can take value lake <strong>400</strong>,
            <strong>200</strong> and in some specific case <strong>201</strong>
            <br>
            The value <strong>400</strong> means that some error occurred often due to request parameters value
            <br>
            The value <strong>200</strong> means that no error occurred
          </li>
          <li>
            <strong>message</strong> <br>
            The response parameter represent the message of the request. It it the human description of the response
            parameter <strong>response_status</strong> <br>
            example: <strong>"Incorrect phone number."</strong> or
            <strong>"Welcome Deku +22891071571. Enjoy Dummy App 😜."</strong>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <hr class="my-4">

      <div>
        <h2 id="user">User authentication api</h2>
        <p style="text-align: justify"><strong><a href="<%= root_path %>">Dummy Api</a></strong> user authentication
          system work with phone number and
          it
          follow two main steps. The first one is identification step it check if
          the phone number provide in request parameter has an account or not. In second step depending on whether it
          has
          or
          not an account
          the response provide status to make a login or registration.</p>
        <h4 id="user-identification">#Identification</h4>
        <p>To make identification request just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_identification_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            {<br>
            &emsp; &emsp; "message": "Welcome +22891071570. Please register with your credentials.",<br>
            &emsp; &emsp; "response_status": 201 <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>message</strong><br>
            The response message parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section.
          </li>
          <li><strong>response_status</strong><br>
            the response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>201</strong> means that the user with the phone number provide in request parameter don't
            have an
            account and must register. <br>
            The value <strong>200</strong> means that the user with the phone number provide in request parameter has an
            account and must login.
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="user-registration">#Registration</h4>
        <p>To make registration request just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_register_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>full_name</strong><br>
            This parameter is a string that represent the user full name.
          </li>
          <li><strong>password</strong><br>
            The user password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
          <li><strong>password_confirmation</strong><br>
            The user password confirmation like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            {<br>
            &emsp; &emsp; "message": "Welcome Deku +22891071572. Enjoy Dummy App 😜.",<br>
            &emsp; &emsp; "response_status": 200 <br>
            &emsp; &emsp; "user": { <br>
            &emsp; &emsp; &emsp; &emsp; "id": 52, <br>
            &emsp; &emsp; &emsp; &emsp; "full_name": "Deku",<br>
            &emsp; &emsp; &emsp; &emsp; "phone_number": "+22891071572",<br>
            &emsp; &emsp; &emsp; &emsp; "email": null,<br>
            &emsp; &emsp; &emsp; &emsp; "articles_count": 0,<br>
            &emsp; &emsp; &emsp; &emsp; "created_at": 1557055798000,<br>
            &emsp; &emsp; &emsp; &emsp; "encrypted_password":
            "$2a$10$oiRqyfH6PPsLe3v/zMNZdeDLe9M30yvtraQtYdwSFdY9DdLhnCpqG"<br>
            &emsp; &emsp; }<br>
            }
          </p>
        </div>
        <ul>
          <li><strong>message</strong><br>
            The response message parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section.
          </li>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>user</strong><br>
            This response parameter represent a user object with useful information in it.
            <ul>
              <li><strong>id</strong><br>
                This value represent the user id.
              </li>
              <li>
                <strong>full_name</strong><br>
                This value represent the user full name.
              </li>
              <li>
                <strong>phone_number</strong><br>
                This value represent the user phone number.
              </li>
              <li>
                <strong>email</strong><br>
                This value represent the user email. This email can be update latter.
              </li>
              <li>
                <strong>articles_count</strong><br>
                This value represent the user articles count.
              </li>
              <li>
                <strong>created_at</strong><br>
                This value represent the user created date. This value is in timestamp milliseconds.
              </li>
              <li>
                <strong>encrypted_password</strong><br>
                This value represent the user encrypted password. This value useful for other requests.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="user-login">#Login</h4>
        <p>To make login request just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_login_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>password</strong><br>
            The user password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            {<br>
            &emsp; &emsp; "message": "Welcome Deku +22891071572. Enjoy Dummy App 😜.",<br>
            &emsp; &emsp; "response_status": 200 <br>
            &emsp; &emsp; "user": { <br>
            &emsp; &emsp; &emsp; &emsp; "id": 52, <br>
            &emsp; &emsp; &emsp; &emsp; "full_name": "Deku",<br>
            &emsp; &emsp; &emsp; &emsp; "phone_number": "+22891071572",<br>
            &emsp; &emsp; &emsp; &emsp; "email": null,<br>
            &emsp; &emsp; &emsp; &emsp; "articles_count": 0,<br>
            &emsp; &emsp; &emsp; &emsp; "created_at": 1557055798000,<br>
            &emsp; &emsp; &emsp; &emsp; "encrypted_password":
            "$2a$10$oiRqyfH6PPsLe3v/zMNZdeDLe9M30yvtraQtYdwSFdY9DdLhnCpqG"<br>
            &emsp; &emsp; }<br>
            }
          </p>
        </div>
        <ul>
          <li><strong>message</strong><br>
            The response message parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section.
          </li>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>user</strong><br>
            This response parameter represent a user object with useful information in it.
            <ul>
              <li><strong>id</strong><br>
                This value represent the user id.
              </li>
              <li>
                <strong>full_name</strong><br>
                This value represent the user full name.
              </li>
              <li>
                <strong>phone_number</strong><br>
                This value represent the user phone number.
              </li>
              <li>
                <strong>email</strong><br>
                This value represent the user email. This email can be update latter.
              </li>
              <li>
                <strong>articles_count</strong><br>
                This value represent the user articles count.
              </li>
              <li>
                <strong>created_at</strong><br>
                This value represent the user created date. This value is in timestamp milliseconds.
              </li>
              <li>
                <strong>encrypted_password</strong><br>
                This value represent the user encrypted password. This value useful for other requests.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <hr class="my-4">

      <div>
        <h2 id="article">Articles api</h2>
        <p style="text-align: justify"><strong><a href="<%= root_path %>">Dummy Api</a></strong> provide api work with
          articles. You can paginate
          the entire articles and their comments.
          It offer also api to create new article, comment and bookmark an article. Take a look at documentation bellow.
        </p>

        <h4 id="article-articles">#Paginate articles</h4>
        <p>To paginate articles just make a get request like describe bellow.</p>
        <h5><strong>GET <%= api_articles_url %></strong></h5>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"articles": [ <br>
            &emsp; &emsp; &emsp;{ <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"id": 30, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"title": "Latia Hickle", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"description": "In quos dicta. Voluptatem nostrum
            est. Qui consequatur reiciendis.", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"user_id": 35, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"created_at": 1557011597000, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"comments_count": 1, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"author": "Chang Brekke" <br>
            &emsp; &emsp; &emsp;}, <br>
            &emsp; &emsp; &emsp;{ <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"id": 23, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"title": "Marty Hodkiewicz", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"description": "Deleniti delectus
            ipsam. Sed temporibus sint. Voluptatem praesentium reprehenderit.", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"user_id": 17, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"created_at": 1557011596000, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"comments_count": 2, <br>
            &emsp; &emsp; &emsp; &emsp; &emsp;"author": "Ayako Walter" <br>
            &emsp; &emsp; &emsp;} <br>
            &emsp; &emsp; ], <br>
            &emsp; &emsp;"next_at_page_number": 3, <br>
            &emsp; &emsp;"previous_at_page_number": 2 <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section.
          </li>
          <li><strong>articles</strong><br>
            This response parameter represent an array of article.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          </li>
          <li><strong>next_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to next articles. This value can
            be
            null if there is no more articles to paginate next. To paginate just make a get call to the same url with
            the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_articles_url(at_page: 3) %></strong>
          </li>
          <li><strong>previous_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to previous articles. This value can
            be
            null if there is no more articles to paginate previous. To paginate just make a get call to the same url
            with
            the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_articles_url(at_page: 2) %></strong>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-comments">#Paginate an article comments</h4>
        <p>To paginate an article comments just make a get request like describe bellow.</p>
        <h5><strong>GET <%= api_article_comments_url(article_id: '$article_id') %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>article_id</strong><br>
            This request parameter is an integer that represent the article id.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"comments": [ <br>
            &emsp; &emsp; &emsp;{ <br>
            &emsp; &emsp; &emsp; &emsp;"id": 145, <br>
            &emsp; &emsp; &emsp; &emsp;"content": "Dolorem qui et. Numquam aut voluptates. Voluptatem provident cum.",
            <br>
            &emsp; &emsp; &emsp; &emsp;"user_id": 37, <br>
            &emsp; &emsp; &emsp; &emsp;"article_id": 4, <br>
            &emsp; &emsp; &emsp; &emsp;"created_at": 1557011597000, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Andres Kemmer" <br>
            &emsp; &emsp; &emsp;}, <br>
            &emsp; &emsp; &emsp;{ <br>
            &emsp; &emsp; &emsp; &emsp;"id": 91, <br>
            &emsp; &emsp; &emsp; &emsp;"content": "Repellendus ut illo. Ab in recusandae. Ab neque alias.", <br>
            &emsp; &emsp; &emsp; &emsp;"user_id": 33, <br>
            &emsp; &emsp; &emsp; &emsp;"article_id": 4, <br>
            &emsp; &emsp; &emsp; &emsp;"created_at": 1557011596000, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Christopher Wiegand" <br>
            &emsp; &emsp; &emsp;}<br>
            &emsp; &emsp; ], <br>
            &emsp; &emsp;"next_at_page_number": null, <br>
            &emsp; &emsp;"previous_at_page_number": null <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section.
          </li>
          <li><strong>comments</strong><br>
            This response parameter represent an array of comments.
            <ul>
              <li><strong>id</strong><br>
                This value represent the comment id.
              </li>
              <li><strong>content</strong><br>
                This value represent the comment content.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the comment user id. The use who comment.
              </li>
              <li><strong>article_id</strong><br>
                This value represent the comment article id.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the comment created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the comment author. The user full name who create the article.
              </li>
            </ul>
          </li>
          <li><strong>next_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to next comments. This value can
            be
            null if there is no more comments to paginate next. To paginate just make a get call to the same url with
            the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_article_comments_url(article_id: 4, at_page: 2) %></strong>
          </li>
          <li><strong>previous_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to previous comments. This value can
            be
            null if there is no more comments to paginate previous. To paginate just make a get call to the same url
            with
            the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_article_comments_url(article_id: 4, at_page: 1) %></strong>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-submit">#Create an article</h4>
        <p>To create an article just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_articles_submit_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>encrypted_password</strong><br>
            The user encrypted password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
          <li><strong>article_title</strong><br>
            This parameter is a string that represent the article title.
          </li>
          <li><strong>article_description</strong><br>
            This parameter is a string that represent the article description.
          </li>
          <li><strong>article_image_url</strong><br>
            This parameter is a string that represent the article image url. This value is optional and can be null.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"message": "Article Latia Hickle successful created.",<br>
            &emsp; &emsp; "user": { <br>
            &emsp; &emsp; &emsp; &emsp; "id": 52, <br>
            &emsp; &emsp; &emsp; &emsp; "full_name": "Deku",<br>
            &emsp; &emsp; &emsp; &emsp; "phone_number": "+22891071572",<br>
            &emsp; &emsp; &emsp; &emsp; "email": null,<br>
            &emsp; &emsp; &emsp; &emsp; "articles_count": 1,<br>
            &emsp; &emsp; &emsp; &emsp; "created_at": 1557055798000,<br>
            &emsp; &emsp; &emsp; &emsp; "encrypted_password":
            "$2a$10$oiRqyfH6PPsLe3v/zMNZdeDLe9M30yvtraQtYdwSFdY9DdLhnCpqG"<br>
            &emsp; &emsp; }<br>
            &emsp; &emsp;"article": { <br>
            &emsp; &emsp; &emsp; &emsp;"id": 30, <br>
            &emsp; &emsp; &emsp; &emsp;"title": "Latia Hickle", <br>
            &emsp; &emsp; &emsp; &emsp;"description": "In quos dicta. Voluptatem nostrum
            est. Qui consequatur reiciendis.", <br>
            &emsp; &emsp; &emsp; &emsp; "image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp; &emsp; "user_id": 35, <br>
            &emsp; &emsp; &emsp; &emsp; "created_at": 1557011597000, <br>
            &emsp; &emsp; &emsp; &emsp; "likes_count": 0, <br>
            &emsp; &emsp; &emsp; &emsp; "users_likes_ids": "", <br>
            &emsp; &emsp; &emsp; &emsp; "users_bookmarks_ids": "", <br>
            &emsp; &emsp; &emsp; &emsp; "comments_count": 0, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Chang Brekke" <br>
            &emsp; &emsp; } <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>user</strong><br>
            This response parameter represent a user object with useful information in it.
            <ul>
              <li><strong>id</strong><br>
                This value represent the user id.
              </li>
              <li>
                <strong>full_name</strong><br>
                This value represent the user full name.
              </li>
              <li>
                <strong>phone_number</strong><br>
                This value represent the user phone number.
              </li>
              <li>
                <strong>email</strong><br>
                This value represent the user email. This email can be update latter.
              </li>
              <li>
                <strong>articles_count</strong><br>
                This value represent the user articles count.
              </li>
              <li>
                <strong>created_at</strong><br>
                This value represent the user created date. This value is in timestamp milliseconds.
              </li>
              <li>
                <strong>encrypted_password</strong><br>
                This value represent the user encrypted password. This value useful for other requests.
              </li>
            </ul>
          </li>
          <li><strong>article</strong><br>
            This response parameter represent an article object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-comment-submit">#Comment an article</h4>
        <p>To comment an article just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_articles_comments_submit_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>encrypted_password</strong><br>
            The user encrypted password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
          <li><strong>article_id</strong><br>
            This parameter is an integer that represent the article id.
          </li>
          <li><strong>comment_content</strong><br>
            This parameter is a string that represent the comment content.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"message": "You successful comment this article.",<br>
            &emsp; &emsp;"article": { <br>
            &emsp; &emsp; &emsp; &emsp;"id": 30, <br>
            &emsp; &emsp; &emsp; &emsp;"title": "Latia Hickle", <br>
            &emsp; &emsp; &emsp; &emsp;"description": "In quos dicta. Voluptatem nostrum
            est. Qui consequatur reiciendis.", <br>
            &emsp; &emsp; &emsp; &emsp; "image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp; &emsp; "user_id": 35, <br>
            &emsp; &emsp; &emsp; &emsp; "created_at": 1557011597000, <br>
            &emsp; &emsp; &emsp; &emsp; "likes_count": 0, <br>
            &emsp; &emsp; &emsp; &emsp; "users_likes_ids": "", <br>
            &emsp; &emsp; &emsp; &emsp; "users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp; "comments_count": 0, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Chang Brekke" <br>
            &emsp; &emsp; } <br>
            &emsp; &emsp;"comment": {<br>
            &emsp; &emsp; &emsp;"id": 165,<br>
            &emsp; &emsp; &emsp;"content": "Thks you. Very useful article. 😺",<br>
            &emsp; &emsp; &emsp;"user_id": 51,<br>
            &emsp; &emsp; &emsp;"article_id": 1,<br>
            &emsp; &emsp; &emsp;"created_at": 1557084097000,<br>
            &emsp; &emsp; &emsp;"author": "Deku"<br>
            &emsp; &emsp;}
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>article</strong><br>
            This response parameter represent the commented article object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          </li>
          <li><strong>comment</strong><br>
            This response parameter represent a comment object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the comment id.
              </li>
              <li><strong>content</strong><br>
                This value represent the comment content.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the comment user id. The use who comment.
              </li>
              <li><strong>article_id</strong><br>
                This value represent the comment article id.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the comment created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the comment author. The user full name who create the article.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-bookmark">#Bookmark and un bookmark an article</h4>
        <p>To bookmark an article just make a post request like describe bellow. To un bookmark just make tha same
          request.</p>
        <h5><strong>POST <%= api_users_articles_bookmark_un_bookmark_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>encrypted_password</strong><br>
            The user encrypted password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
          <li><strong>article_id</strong><br>
            This parameter is an integer that represent the article id.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"article": { <br>
            &emsp; &emsp; &emsp;"id": 1, <br>
            &emsp; &emsp; &emsp;"title": "Ms. Tyra Turner", <br>
            &emsp; &emsp; &emsp;"description": "Praesentium possimus consequatur. Deleniti quae qui. Suscipit ab
            cum.", <br>
            &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp;"user_id": 3, <br>
            &emsp; &emsp; &emsp;"created_at": 1557011592000, <br>
            &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp;"comments_count": 12, <br>
            &emsp; &emsp; &emsp;"author": "Deku", <br>
            &emsp; &emsp;} <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>article</strong><br>
            This response parameter represent an article object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-like">#Like and dislike an article</h4>
        <p>To like an article just make a post request like describe bellow. To dislike just make tha same
          request.</p>
        <h5><strong>POST <%= api_users_articles_like_dislike_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>encrypted_password</strong><br>
            The user encrypted password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
          <li><strong>article_id</strong><br>
            This parameter is an integer that represent the article id.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"article": { <br>
            &emsp; &emsp; &emsp;"id": 1, <br>
            &emsp; &emsp; &emsp;"title": "Ms. Tyra Turner", <br>
            &emsp; &emsp; &emsp;"description": "Praesentium possimus consequatur. Deleniti quae qui. Suscipit ab
            cum.", <br>
            &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp;"user_id": 3, <br>
            &emsp; &emsp; &emsp;"created_at": 1557011592000, <br>
            &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp;"comments_count": 12, <br>
            &emsp; &emsp; &emsp;"author": "Deku", <br>
            &emsp; &emsp;} <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>article</strong><br>
            This response parameter represent an article object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <br>

      <div>
        <h4 id="article-users-bookmark">#User bookmarks</h4>
        <p>To fetch user bookmarks just make a post request like describe bellow.</p>
        <h5><strong>POST <%= api_users_bookmarks_url %></strong></h5>
        <p>Parameters:</p>
        <ul>
          <li><strong>phone_number</strong><br>
            The user phone number like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section. Example: <strong>+22891071570</strong>
          </li>
          <li><strong>encrypted_password</strong><br>
            The user encrypted password like describe in
            <a href="#global-request"><strong>global request</strong></a>
            section.
          </li>
        </ul>
        <p>Response example:</p>
        <div class="card text-white bg-secondary mb-3" style="margin-left: 20px">
          <p style="margin-left: 20px">
            <br>
            { <br>
            &emsp; &emsp;"response_status": 200, <br>
            &emsp; &emsp;"articles": [ <br>
            &emsp; &emsp; &emsp; { <br>
            &emsp; &emsp; &emsp; &emsp;"id": 2, <br>
            &emsp; &emsp; &emsp; &emsp;"title": "Faith Roberts PhD", <br>
            &emsp; &emsp; &emsp; &emsp;"description": "Optio consectetur quo. Assumenda consequatur sed. Quaerat est
            sint.", <br>
            &emsp; &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300", <br>
            &emsp; &emsp; &emsp; &emsp;"user_id": 7, <br>
            &emsp; &emsp; &emsp; &emsp;"created_at": 1557011592000, <br>
            &emsp; &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp;"comments_count": 13, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Deku", <br>
            &emsp; &emsp; &emsp; }, <br>
            &emsp; &emsp; &emsp; { <br>
            &emsp; &emsp; &emsp; &emsp;"id": 1, <br>
            &emsp; &emsp; &emsp; &emsp;"title": "Ms. Tyra Turner", <br>
            &emsp; &emsp; &emsp; &emsp;"description": "Praesentium possimus consequatur. Deleniti quae qui. Suscipit ab
            cum.", <br>
            &emsp; &emsp; &emsp; &emsp;"image": "https://lorempixel.com/300/300",<br>
            &emsp; &emsp; &emsp; &emsp;"user_id": 3, <br>
            &emsp; &emsp; &emsp; &emsp;"created_at": 1557011592000, <br>
            &emsp; &emsp; &emsp; &emsp;"likes_count": 2, <br>
            &emsp; &emsp; &emsp; &emsp;"users_likes_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp;"users_bookmarks_ids": "34 13", <br>
            &emsp; &emsp; &emsp; &emsp;"comments_count": 12, <br>
            &emsp; &emsp; &emsp; &emsp;"author": "Parfait", <br>
            &emsp; &emsp; &emsp; &emsp;"bookmarked": 1 <br>
            &emsp; &emsp; &emsp; } <br>
            &emsp; &emsp;], <br>
            &emsp; &emsp;"next_at_page_number": null, <br>
            &emsp; &emsp;"previous_at_page_number": null <br>
            }
          </p>
        </div>
        <ul>
          <li><strong>response_status</strong><br>
            The response response status parameter like describe in
            <a href="#global-response"><strong>global response</strong></a> section. <br>
            The value <strong>200</strong> means that the user register successfully. <br>
            The value <strong>400</strong> means that some error happen during the registration.
          </li>
          <li><strong>articles</strong><br>
            This response parameter represent an array of article object.
            <ul>
              <li><strong>id</strong><br>
                This value represent the article id.
              </li>
              <li><strong>title</strong><br>
                This value represent the article title.
              </li>
              <li><strong>description</strong><br>
                This value represent the article description.
              </li>
              <li><strong>image</strong><br>
                This value represent the article image url. This value is optional and can be null for some articles.
              </li>
              <li><strong>user_id</strong><br>
                This value represent the article user id. The user who create the article.
              </li>
              <li><strong>likes_count</strong><br>
                This value represent the article likes count.
              </li>
              <li><strong>users_likes_ids</strong><br>
                This value represent users (ids join by a space) whose likes the article.
              </li>
              <li><strong>users_bookmarks_ids</strong><br>
                This value represent users (ids join by a space) whose bookmarks the article.
              </li>
              <li><strong>created_at</strong><br>
                This value represent the article created timestamp. This value is in timestamp milliseconds.
              </li>
              <li><strong>comments_count</strong><br>
                This value represent the article comments count.
              </li>
              <li><strong>author</strong><br>
                This value represent the article author. The user full name who create the article.
              </li>
            </ul>
          <li><strong>next_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to next bookmarked articles. This value can
            be
            null if there is no more bookmarked articles to paginate next. To paginate just make a get call to the same
            url with the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_articles_url(at_page: 3) %></strong>
          </li>
          <li><strong>previous_at_page_number</strong><br>
            This response parameter represent the at_page value to paginate to previous bookmarked articles. This value
            can
            be
            null if there is no more bookmarked articles to paginate previous. To paginate just make a get call to the
            same url with
            the
            query parameter at_page.
            <br>Example: <strong>GET <%= api_articles_url(at_page: 2) %></strong>
          </li>
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
      <hr class="my-4">

      <div>
        <h2 id="errors">Errors</h2>
        <p>Check bellow some common error message and their descriptions</p>
        <ul>
          <li><strong class="text-danger">Undefined authorization token.</strong><br>
            This error means that you did not specify the <strong>Authorization</strong> value in request header like
            describe in
            <a href="#global">global section</a>.
          </li>
          <li><strong class="text-danger">Incorrect app token.</strong><br>
            This error means that app token specify in <strong>Authorization</strong> is incorrect. Check your
            <a href="<%= api_identification_url %>">access token</a>.
          </li>
          <li><strong class="text-danger">Undefined phone number or encrypted password.</strong><br>
            This error means you did not provide phone number or encrypted password parameter in the request.
          </li>
          <li><strong class="text-danger">Incorrect credentials.</strong><br>
            This error means the phone number and encrypted password don't match our record.
          </li>
          <li><strong class="text-danger">Incorrect phone number.</strong><br>
            This error means the phone number in request parameter is not a valid phone number. Check
            <a href="#global-request">global request</a> section.
          </li>
        </ul>
      </div>

      <a href="#content" class="float-right"><%= content %></a>
      <br>
    </div>
  </div>

  <%= render 'home/footer' %>
</div>