<% content_for :title do %>
  Api identification
<% end %>

<div class="container">
  <br>
  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <h2 class="text-center">👋 Welcome back to
        <strong><a href="<%= root_path %>">Dummy Api</a></strong>.</h2>
      <h4 class="text-center">Please fill the form bellow to get identify.</h4>
      <h6 class="text-center">I don't have an <a href="<%= api_registration_path %>">access token</a>.</h6>
      <h6 class="text-center">Check also <strong><a href="<%= root_path %>">Dummy Api</a></strong>
        <a href="<%= api_documentation_path %>">documentation</a>.</h6>
      <hr class="my-4">
    </div>
  </div>

  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <% unless @message.nil? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= @message %></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= form_tag(api_identification_path, method: :post) do %>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" value="<%= params[:email] %>" required>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>
    </div>
  </div>

  <%= render 'home/footer' %>
</div>