<% content_for :title do %>
  Welcome
<% end %>

<div class="container">
  <br>
  <br>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10-col-lg-8">
      <div class="jumbotron">
        <h1 class="display-4 text-center">Rails Dummy Api 😺</h1>
        <div class="lead">
          <p class="text-center">
            Welcome 👋. This is the <a href="https://rubyonrails.org/" target="_blank">Rails</a> version of
            <strong>Dummy Api</strong>. <strong>Dummy Api</strong> is a simple basic
            <a href="https://en.wikipedia.org/wiki/Application_programming_interface" target="_blank">api</a> with dummy
            content.
          </p>
          <hr class="my-4">
          <p>It
            offer basic features like :</p>
          <ul>
            <li>User authentication with phone number</li>
            <li>Create articles</li>
            <li>Comment articles</li>
            <li>Bookmark articles</li>
          </ul>
        </div>
        <p class="">Are you interested ? You are welcome. Take a look at <a href="#step-one">steps</a>
          bellow to get ready using <strong>Dummy Api</strong>.</p>
        <p class="text-center">Enjoy it. We are <strong>dummy</strong>. 🤙</p>
        <hr class="my-4">
        <p>Thanks 🙏 to contributors on our
          <a href="https://gitlab.com/longbowou/dummy-rails" target="_blank">gitlab repository</a>:
        </p>
        <ul>
          <li><a href="https://gitlab.com/longbowou" target="_blank">Longbowou</a></li>
        </ul>
        <hr class="my-4">
        <p>Check this <a href="https://gitlab.com/longbowou/dummy-android-java" target="_blank">android</a>
          implementation
          of <strong>Dummy Api</strong>. We hope you appreciate. Contributors a also welcome. </p>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10-col-lg-8">
      <h2>Get started</h2>
      <p>
        <strong>Dummy Api</strong> provide api that is protected by an access token. To access and use
        <strong>Dummy Api</strong> you must
        <a href="<%= api_registration_path %>">register</a> and to get an access token.
      </p>

      <br>

      <h4 id="step-one">1 - Register your app to get an access token</h4>
      <p>go to this <a href="<%= api_registration_path %>">url</a> and fill the form to get your access token.</p>

      <br>
      <br>

      <h4>2 - Read api documentation</h4>
      <p>This is where you can find technical <a href="<%= api_documentation_path %>">documentation</a> about api.</p>

      <br>
      <br>

      <h4>3 - Enjoy and share</h4>
      <p>😺 Enjoy <strong>Dummy Api</strong> ! Please <a href="#">share with us</a> what you have built with
        <strong>Dummy Api</strong>.</p>

      <hr class="my-4">
      <div class="row justify-content-sm-center">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="email">Subscribe to our newsletters</label>
            <input type="email" class="form-control" placeholder="exemble@yahoo.fr">
          </div>

          <button type="button" class="btn btn-secondary">Subscribe</button>

        </div>
      </div>
    </div>
  </div>

  <%= render 'home/footer' %>
</div>