<% content_for :title do %>
  Api registration
<% end %>

<div class="container">
  <br>
  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <h2 class="text-center">👋 Here is where you can get an access token to use
        <strong><a href="<%= root_path %>">Dummy Api</a></strong>.</h2>
      <h4 class="text-center">Please fill the form bellow.</h4>
      <h6 class="text-center">I already get my <a href="<%= api_identification_path %>">access token</a>.</h6>
      <h6 class="text-center">Check also <strong><a href="<%= root_path %>">Dummy Api</a></strong>
        <a href="<%= api_documentation_path %>">documentation</a>.</h6>
      <hr class="my-4">
    </div>
  </div>

  <br>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <%= render 'home/form' %>
    </div>
  </div>

  <%= render 'home/footer' %>
</div>