@font-face {
  font-family: "GoogleSans";
  src: url("../fonts/GoogleSans-Regular.ttf") format("truetype");
}

$font-family-sans-serif: GoogleSans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;