<p id="notice"><%= notice %></p>

<h1>Apis</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>App name</th>
      <th>App description</th>
      <th>App description</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.full_name %></td>
        <td><%= api.app_name %></td>
        <td><%= api.app_description %></td>
        <td><%= api.app_description %></td>
        <td><%= api.email %></td>
        <td><%= link_to 'Show', api %></td>
        <td><%= link_to 'Edit', edit_api_path(api) %></td>
        <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api', new_api_path %>
