<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @api.full_name %>
</p>

<p>
  <strong>App name:</strong>
  <%= @api.app_name %>
</p>

<p>
  <strong>App description:</strong>
  <%= @api.app_description %>
</p>

<p>
  <strong>App description:</strong>
  <%= @api.app_description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @api.email %>
</p>

<%= link_to 'Edit', edit_api_path(@api) %> |
<%= link_to 'Back', apis_path %>
