<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :title %> - Dummy Api</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'stylesheets' %>
  <%= yield :stylesheet %>
</head>

<body>
<%= yield %>


<%= javascript_pack_tag 'application' %>
</body>
</html>
